body {
    background-color: #f5f5f5;
    font-family: 'Roboto';
    margin: 0;
}

.description p {
    margin: 0 auto 5px auto;
    text-align: left;
    width: 100%;
}

.description {
    background-color: floralwhite;
    border: 3px solid #393D3F;
    border-radius: 7px;
    margin: 50px auto 0 auto;
    padding: 20px;
    width: 65%;
}

.requirement {
    font-size: 15px;
}

.history {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.inputHistory {
    background-color: #C0D3D8;
    border: 3.5px solid #393D3F;
    border-radius: 20px;
    outline: none;
    margin: 100px auto;
    padding: 10px;
    width: 400px;
    height: 230px;
    resize: none;
}

.inputExample {
    padding: 0;
}

.inputHistory p {
    margin: 0;
    font-size: medium;
    text-align: left;
    width: 100%;
}

.inputExample h3,
.inputExample p,
h4 {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 0;
}

.inputExample h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.error {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #E40066;
    text-align: center;
}

.submit {
    margin: auto;
}

.submit,
.submit button {
    width: 120px;
    height: 40px;
}

.submit button {
    outline: none;
    border: 2px solid #393D3F;
    border-radius: 25px;
    background-color: #546A7B;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

table {
    text-align: center;
    margin: 70px auto;
    width: 40%;
}

th,
td {
    width: 33.33%;
}

th {
    background-color: #546A7B;
    color: white;
}

td {
    background-color: #C0D3D8;
}

p {
    margin: 40 auto 0 auto;
    padding: 0;
    font-size: large;
    text-align: center;
}

a {
    text-decoration: none;
    outline: none;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E3655B;
}

.push {
    height: 150px;
}
